<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <button class="navbar-toggler btn-bvSpotify navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand lead" routerLink="/" routerLinkActive="active">
        <img src="assets/images/BVSpotifyIconALT.png" width="40" height="40" alt="">
        BVSpotify</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav lead">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            </li>
        </ul>
    </div>
</nav>