// Bayside Vinyl Color Scheme
$scandal: #b0d8da;
$coralCandy: #f3d0cc;
$frostyWhite: #fdfdfd;
$sandBrown: #d3cab8;
$fontColor: rgb(31, 5, 5);

/* You can add global styles to this file, and also import other style files */

body {
    background-color: $scandal;
    font: 100% montserrat, sans-serif;
}