// Fonts
@font-face {
    font-family: 'CaviarDreams';
    src: url('assets/fonts/CaviarDreams.ttf');
    src: url('assets/fonts/CaviarDreams.ttf?iefix') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarDreams_Italic';
    src: url('assets/fonts/CaviarDreams_Italic.ttf');
    src: url('assets/fonts/CaviarDreams_Italic.ttf?iefix') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CaviarDreams_Bold';
    src: url('assets/fonts/CaviarDreams_Bold.ttf');
    src: url('assets/fonts/CaviarDreams_Bold.ttf?iefix') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarDreams_BoldItalic';
    src: url('assets/fonts/CaviarDreams_BoldItalic.ttf');
    src: url('assets/fonts/CaviarDreams_BoldItalic.ttf?iefix') format('truetype');
    font-weight: bold;
    font-style: italic;
}

// Bayside Vinyl Color Scheme
$eunry: #C7A7A4;
$sinbad: #A8D4D6;
$frostyWhite: #f9f9f9;
$sandBrown: #d3cab8;
$fontColor: black;

/* You can add global styles to this file, and also import other style files */

body {
    background-color: $sinbad;
    font: 100% montserrat, sans-serif;
    color: $eunry;
}

.footer-font {
    font-size: 12px;
    color: $frostyWhite;
    font-family: 'CaviarDreams';
}

h2 {
    font-family: 'CaviarDreams_bold';
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $frostyWhite;
    margin: 1em 0;
    padding: 0;
}

.artistName2 {
    font-size: xx-large;
    font-weight: 900;
    font-family: 'CaviarDreams_bold';
}

.searchHeader {
    font-family: 'CaviarDreams_bold';
}

.searchExplanation {
    font-family: 'CaviarDreams_bold';
    font-weight: 900;
}

// form
a:hover,
a:focus,
a:active,
a.active {
    color: $sinbad;
}

a {
    color: $frostyWhite;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $eunry inset;
    -webkit-text-fill-color: $frostyWhite !important;
}

.search-res {
    background-color: $eunry;
    color: $sinbad;
}

.searchHeader2 {
    color: $frostyWhite;
}

.form-control,
.artistName {
    background-color: $eunry;
    color: $frostyWhite;
    font-family: 'CaviarDreams';
    text-align: center;
}

.genreName {
    color: $sinbad;
    font-family: 'CaviarDreams';
    font-weight: 900;
}

.genreNames {
    color: $frostyWhite;
    font-family: 'CaviarDreams_Italic';
    font-weight: 900;
}

.form-control::-moz-placeholder {
    color: $frostyWhite;
}

.form-control:-ms-input-placeholder {
    color: $frostyWhite;
}

.form-control::-webkit-input-placeholder {
    color: $frostyWhite;
}

.form-control:focus {
    border-style: solid;
    border-color: $eunry;
    background-color: $eunry;
    color: $frostyWhite;
}

.form-control {
    color: $frostyWhite;
}

li {
    display: inline-block;
}


/*Artist Page*/

.artist-header {
    border-bottom: solid 1px $frostyWhite;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.artistPageAlbum {
    color: $frostyWhite;
    font-family: 'CaviarDreams';
    font-weight: 900;
}

.artist-thumb {
    width: 80px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.artistPageArtist {
    color: $eunry;
    font-family: 'CaviarDreams';
    font-weight: 900;
}

.artistPageGenre {
    color: $frostyWhite;
    font-family: 'CaviarDreams_Italic';
}

.img-thumbnail {
    background-color: $eunry;
}


/*Album Page*/

.albumPageName {
    color: $eunry;
    font-family: 'CaviarDreams';
    font-weight: 900;
}

.albumPageRelease {
    color: $frostyWhite;
    font-family: 'CaviarDreams_Italic';
}

/*Image Effect*/

.responsive {
    width: 100%;
    height: auto;
}

.logoImage:hover {
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
}


/*Custom Boostrap Navbar*/

$dropDown: true;
.navbar {
    background-color: $sinbad;
    font-family: 'CaviarDreams';
    .navbar-brand {
        color: $frostyWhite;
        &:hover,
        &:focus {
            color: $frostyWhite;
        }
    }
    .navbar-text {
        color: $frostyWhite;
    }
    .navbar-nav {
        .nav-link {
            color: $frostyWhite;
            border-radius: .25rem;
            margin: 0 0.25em;
            &:not(.disabled) {
                &:hover,
                &:focus {
                    color: $frostyWhite;
                }
            }
        }
        @if ($dropDown) {
            .dropdown-menu {
                background-color: $sinbad;
                border-color: $eunry;
                .dropdown-item {
                    color: $frostyWhite;
                    &:hover,
                    &:focus,
                    &.active {
                        color: $frostyWhite;
                        background-color: $eunry;
                    }
                }
                .dropdown-divider {
                    background-color: $eunry;
                }
            }
        }
        .nav-item.active,
        .nav-item.show {
            .nav-link,
            .nav-link:hover,
            .nav-link:focus {
                color: $frostyWhite;
                background-color: $eunry;
            }
        }
    }
    .navbar-toggle {
        border-color: $eunry;
        &:hover,
        &:focus {
            background-color: $eunry;
        }
        .navbar-toggler-icon {
            color: $frostyWhite;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $frostyWhite;
    }
    .navbar-link {
        color: $frostyWhite;
        &:hover {
            color: $frostyWhite;
        }
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu {
        .dropdown-item {
            color: $frostyWhite;
            &:hover,
            &:focus {
                color: $frostyWhite;
            }
        }
        .dropdown-item.active {
            color: $frostyWhite;
            background-color: $eunry;
        }
    }
}


/*Custom Bootstrap Button*/

.btn-bvSpotify {
    color: $frostyWhite;
    background-color: $eunry;
    border-color: $frostyWhite;
    font-family: 'CaviarDreams';
    font-weight: 900;
}

.btn-bvSpotify:hover,
.btn-bvSpotify:focus,
.btn-bvSpotify:active,
.btn-bvSpotify.active,
.open .dropdown-toggle.btn-bvSpotify {
    color: $eunry;
    background-color: $frostyWhite;
    border-color: $eunry;
}

.btn-bvSpotify:active,
.btn-bvSpotify.active,
.open .dropdown-toggle.btn-bvSpotify {
    background-image: none;
}

.btn-bvSpotify.disabled,
.btn-bvSpotify[disabled],
fieldset[disabled] .btn-bvSpotify,
.btn-bvSpotify.disabled:hover,
.btn-bvSpotify[disabled]:hover,
fieldset[disabled] .btn-bvSpotify:hover,
.btn-bvSpotify.disabled:focus,
.btn-bvSpotify[disabled]:focus,
fieldset[disabled] .btn-bvSpotify:focus,
.btn-bvSpotify.disabled:active,
.btn-bvSpotify[disabled]:active,
fieldset[disabled] .btn-bvSpotify:active,
.btn-bvSpotify.disabled.active,
.btn-bvSpotify[disabled].active,
fieldset[disabled] .btn-bvSpotify.active {
    background-color: $sinbad;
    border-color: $frostyWhite;
}

.btn-bvSpotify .badge {
    color: $sinbad;
    background-color: $frostyWhite;
}